.portfolio-container {
  margin: auto;
  width: 80%;
}

.list-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0px;
}

.item-filter {
  height: auto;
  margin: 15px 10px;
  padding: 10px;
}

.list-apps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  justify-content: center;
  padding-bottom: 20px;
}

.item-app {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 260px;
  justify-content: center;
  padding: 0px 15px;
  text-align: center;
}

.item-app figure {
  margin: 0;
  padding: 0;
}

.item-app figure figcaption {
  margin: 0;
  padding: 0;
}

.item-app figure figcaption p {
  margin: 0;
  padding: 0;
}

.item-app figure img {
  border-radius: 10px;
  height: 200px;
  max-width: 280px;
  object-fit: cover;
}

.item-app figure figcaption span {
  color: var(--blue-links);
  visibility: hidden;
}

.item-app figure figcaption {
  margin-top: -30px !important;
}

.item-app figure img:hover {
  margin-bottom: 25px;
  transition: all 300ms ease;
}

.item-app figure:hover span {
  transition: all 100ms step-end;
  visibility: visible;
}

@media (max-width: 780px) {
  .list-apps {
    grid-template-columns: 1fr;
  }

  .item-app figure img {
    max-width: 100%;
    max-height: 300px;
    min-width: 250px;
  }
}
